# for deployment
DEPLOYER_PRIVATE_KEY=
DEPLOYER_WALLET_ADDRESS=
RPC_URL=

# for verification on explorers
ETHERSCAN_API_KEY=



# for zeus deployment demo scripts
ZEUS_ENV_DEPLOYER=
ENVIRONMENT_TYPE=
